VITE_SUPABASE_URL=https://kochxwxwzmrcsqloonxc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvY2h4d3h3em1yY3NxbG9vbnhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NzE3NTIsImV4cCI6MjEwNDM0Nzc1Mn0.NdamZ0PXUjP3odsurrGA2ICUPNoJfkxCa_Aqf3kzS9k
