VITE_SUPABASE_URL=https://supabase.com/dashboard/project/otjgivbtqfwqcnqvomlx
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90amdpdmJ0cWZ3cWNucXZvbWx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1OTE1MTYsImV4cCI6MjEwNDE2NzUxNn0.FiF6QIpa-stVXnuKTOLRce8Zy89wA9UgspWPRayTUfs
